<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <div class="conteiner">
      <ul id="main-list">
        <li>
          <%= link_to('ホーム','/')%>
        </li>

        <li>
          <%= link_to('話題を検索','about')%>
        </li>

        <li>
          <%= link_to('通知')%>
        </li>

        <li>
          <%= link_to('メッセージ')%>
        </li>

        <li>
          <%= link_to('ブックマーク')%>
        </li>

        <li>
          <%= link_to('リスト')%>
        </li>

        <li>
          <%= link_to('プロフィール','/posts/index')%>
        </li>

        <li>
          <%= link_to('もっと見る')%>
        </li>

        <li>
          <%= link_to('ツイートする','/posts/new')%>
        </li>
      </ul>
      <div class="header-menu">
        <h1><%= link_to('ホーム','/')%></h1>
        <textarea id="form"></textarea>
        <p><%= link_to('ツイート','/posts/create')%></p>
      </div>
    </div>

  </header>
    <%= yield %>
  </body>
</html>
